body {
  font-family: system-ui, sans-serif;
  background-color: rgba(214, 214, 214, 0.86);
  color: black;
  max-width: 50em;
  margin: 2em auto;
  background-image: url(img.jpg);
  background-size: cover;
}

.info {
    display: flex;
    justify-content: space-between;      
}

.minusta {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 26px;
    color: white;
    padding: 2em;
}

div {
    margin-top: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

nav li {
  list-style-type: none;  
  background-color: rgba(0, 0, 0, 0.637);
  color: white; 
  padding: 1em;
  margin: 0.5em;
  border-radius: 26px;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
} 

nav li:hover {
  background-color: tomato;
}

h3 {
    color: tomato;
}

.koulutus {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 26px;
    color: whitesmoke;
    padding: 12px 20px;
    max-width: 600px;
    margin: 20px auto;
}

.kielet {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 26px;
    color: whitesmoke;
    padding: 12px 20px;
    max-width: 600px;
    margin: 20px auto;
}

.kansalaisuus{
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 26px;
    color: whitesmoke;
    padding: 12px 20px;
    max-width: 600px;
    margin: 20px auto;
}

.vahvuudet {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 26px;
    color: whitesmoke;
    padding: 12px 20px;
    max-width: 600px;
    margin: 20px auto;
}

.mermaid {
    background-color: aliceblue;
}

.github {
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 26px;
    color: whitesmoke;
    padding: 12px 20px;
    max-width: 600px;
    margin: 20px auto;
}